<!DOCTYPE html>
<html>
  <head>
    <title>books</title>
    <!-- Necessary Angular Scripts -->
    <script src="javascripts/support/Rx.umd.js"></script>
    <script src="javascripts/support/angular2-polyfills.js"></script>
    <script src="javascripts/support/angular2-all.umd.js"></script>

    <!-- Our Javascript Files -->

    <!-- Setting Up JS Environment -->
    <script src="javascripts/namespace.js"></script>
    
    <!-- The App -->
    <script src="javascripts/hero.js"></script>
    <script src="javascripts/hero.service.js"></script>
    <script src="javascripts/hero-form.component.js"></script>
    <script src="javascripts/app.component.js"></script>
    <script src="javascripts/boot.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
