<!DOCTYPE html>
<html>
  <head>
    <title>books</title>

    <!-- Necessary Angular Scripts -->
    <script src="javascripts/support/Rx.umd.js"></script>
    <script src="javascripts/support/angular2-polyfills.js"></script>
    <script src="javascripts/support/angular2-all.umd.js"></script>

    <!-- services -->
    <script src="javascripts/services/books.service.js"></script>
    <!-- models -->
    <script src="javascripts/models/book.model.js"></script>
    <!-- components -->
    <script src="javascripts/components/book-list.component.js"></script>
    <!-- app -->
    <script src="javascripts/components/app.component.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
